/* 
- Reglas: Conformadas de Selectores, Declaraciones, Propiedades y Valores
- Selectores: Como se identifica el elemento HTML
- Declaraciones: Todo lo se desea hacer con el selector
- Propiedades:  Particularidades con el elemeneto
- Valores: Parámetros que se espera recibir como variable en las propiedades
*/

/* 
Selector de etiqueta:
Selector Descendente: 
Selector de Clase: Con un punto .(nombre de clase) .link
Selector de ID: Usando el #. #ID

*/

body {
  background: #fffafa;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #009100;
  font-family: "Open Sans", sans-serif;
  color: #fffafa;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.header a {
  color: #fffafa;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

ol,
ul {
  margin:0;
  padding: 0;
  list-style: none;
}
.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li{
  height: inherit;
}
figure{
  margin:0;
  display: flex;
  align-items: center;
}

.hero {
  height: 300px;
  background-color: #01b314;
  background-image: url("../img/icon_001_white.png");
  background-size: 300px;
  border: 1px solid #009100;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: center;
}

.section {
  background: #01b314;
  border: 1px solid #009100;
  border-radius: 0px;

}
.section-title {
  color: #ffffff;
  font-size: 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #fffafa;
  font-size: 40px;
  line-height: 1em;
  letter-spacing: -0.2px;
  margin: 5px 500px 5px 30px;  
  /*text-transform: capitalize;
  text-decoration: underline; */
}
h1 strong {
  color: #000000;
}
h2 {
  padding-left: 20px;
  text-transform: uppercase;
}

.project-article {
  margin: 20px;
  border: 2px solid gray;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #fffafa;
  display: flex;
  justify-content: space-between;
}
.project-cardText {
  margin-right: 100px;
}

.project-cardTitle {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.project-imgContainer {
  width: 150px;
  margin: 0;
  margin-right: 10px;
}

.footer {
  background-color: #009100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}